/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
.pulumi
yarn.lock
package-lock.json
ci-scripts
/nuget/
provider/**/schema-embed.json
examples/.env
!examples/.env-template
examples/**/controlplane.yaml
examples/**/worker.yaml
examples/**/talosconfig
examples/**/cp.patch.yaml
examples/**/Pulumi.make.yaml
