/vendor/
**/bin/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/nuget
**/dist
**/.ionide
**/version.txt
**/.DS_Store
.pulumi
yarn.lock
package-lock.json
ci-scripts
provider/**/schema-embed.json
**/.env
**/controlplane.yaml
**/worker.yaml
**/talosconfig
**/cp.patch.json
**/worker.patch.yaml
